<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>
  You can update your
  <a target="_blank"
    href="<YOUR_FUSIONAUTH_ACCOUNT_LINK>"
  >profile here</a>
</p>


<h2>Profile Info</h2>
<p>
  {{profile}}
</p>

<h2>Consent Permissions</h2>
<p>
  {{consents}}
</p>
